<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Subscriber List</title>
<link th:replace="subscriber/fragments/headLink">
</head>
<body>
	<div class="container-fluid">
		<h1>Welcome to Our Awesome Site</h1>
		<h3>Subscribe to our List. Sign Up Below!</h3>
		<p>Please use the form below to sign up as a subscriber:</p>
		<form action="#" th:action="@{/}" th:object="${subscriber}"
			method="post">
			<table>
				<tr>
					<td>FirstName:</td>
					<td><input type="text" th:field="*{firstName}" /></td>
				</tr>
				<tr>
					<td>LastName:</td>
					<td><input type="text" th:field="*{lastName}" /></td>
				</tr>
				<tr>
					<td>UserName:</td>
					<td><input type="text" th:field="*{userName}" /></td>
				</tr>
				<tr>
					<td><button type="submit">Submit Your Name</button></td>
				</tr>
			</table>
		</form>
	</div>
	<script th:replace="subscriber/fragments/scripts"></script>
</body>
</html>